rak7391/i2c/i2c-eeprom/i2c-eeprom-example.json
[
    {
        "id": "06308f478fc88158",
        "type": "tab",
        "label": "i2c-eeprom-example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "839c60a19d7620c0",
        "type": "i2c out",
        "z": "06308f478fc88158",
        "name": "write to eeprom",
        "busno": "1",
        "address": "80",
        "command": "",
        "payload": "payload",
        "payloadType": "msg",
        "count": "4",
        "x": 760,
        "y": 220,
        "wires": [
            [
                "249c7735c178e37a"
            ]
        ]
    },
    {
        "id": "fa4f0b651340774c",
        "type": "inject",
        "z": "06308f478fc88158",
        "name": "replace the first bytes in the EEPROM to 10",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[0,0,0,10]",
        "payloadType": "bin",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "839c60a19d7620c0"
            ]
        ]
    },
    {
        "id": "66720931183c8175",
        "type": "inject",
        "z": "06308f478fc88158",
        "name": "replace the first bytes in the EEPROM to 100",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[0,0,0,100]",
        "payloadType": "bin",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "839c60a19d7620c0"
            ]
        ]
    },
    {
        "id": "87e4a1338edc2b30",
        "type": "i2c in",
        "z": "06308f478fc88158",
        "name": "read eeprom ",
        "busno": "1",
        "address": "80",
        "command": "",
        "count": "1",
        "x": 970,
        "y": 400,
        "wires": [
            [
                "7ba839993dcd25d5"
            ]
        ]
    },
    {
        "id": "7ba839993dcd25d5",
        "type": "debug",
        "z": "06308f478fc88158",
        "name": "output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 400,
        "wires": []
    },
    {
        "id": "5b91d28b4d395cc5",
        "type": "debug",
        "z": "06308f478fc88158",
        "name": "output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 220,
        "wires": []
    },
    {
        "id": "e10c7e6d7fe2d147",
        "type": "i2c out",
        "z": "06308f478fc88158",
        "name": "write the register number to eeprom",
        "busno": "1",
        "address": "80",
        "command": "",
        "payload": "payload",
        "payloadType": "msg",
        "count": "2",
        "x": 720,
        "y": 400,
        "wires": [
            [
                "87e4a1338edc2b30"
            ]
        ]
    },
    {
        "id": "50caff1f175b1bb4",
        "type": "inject",
        "z": "06308f478fc88158",
        "name": "send the register number to read",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[0,1]",
        "payloadType": "bin",
        "x": 410,
        "y": 400,
        "wires": [
            [
                "e10c7e6d7fe2d147"
            ]
        ]
    },
    {
        "id": "249c7735c178e37a",
        "type": "function",
        "z": "06308f478fc88158",
        "name": "clean-up payload",
        "func": "msg.payload='Wrote ' + msg.payload[3] +' to eeprom registery ' + msg.payload[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 220,
        "wires": [
            [
                "5b91d28b4d395cc5"
            ]
        ]
    }
]
