sensors/rak1902/rak1902-read/rak1902-read.json
[
    {
        "id": "db0801564df579c8",
        "type": "tab",
        "label": "rak1902-read",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "819eab5b7d1ab70a",
        "type": "lps2x_i2c",
        "z": "db0801564df579c8",
        "name": "",
        "i2c_device_number": 1,
        "chip": "0",
        "i2c_address": "0x5C",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "b5b294f7dc7b06d7"
            ]
        ]
    },
    {
        "id": "4a1cc7d7c5630ff2",
        "type": "inject",
        "z": "db0801564df579c8",
        "name": "every 5 seconds",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "819eab5b7d1ab70a"
            ]
        ]
    },
    {
        "id": "b5b294f7dc7b06d7",
        "type": "debug",
        "z": "db0801564df579c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 160,
        "wires": []
    }
]