interface/rak13004/rak13004-servo/rak13004-servo-flow.json
[
    {
        "id": "6b01780eaf90884f",
        "type": "tab",
        "label": "rak13004-servo-flow",
        "disabled": false,
        "info": "It is a example that use RAK13004 PWM modoule to control rotation angle of steering gear.",
        "env": []
    },
    {
        "id": "a21f43e22577add9",
        "type": "inject",
        "z": "6b01780eaf90884f",
        "name": "90°",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "2500",
        "payloadType": "num",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "9389f5bd56d48931"
            ]
        ]
    },
    {
        "id": "ad3f193541bb3180",
        "type": "inject",
        "z": "6b01780eaf90884f",
        "name": "-45°",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "9389f5bd56d48931"
            ]
        ]
    },
    {
        "id": "f48d8f59d1d68f50",
        "type": "inject",
        "z": "6b01780eaf90884f",
        "name": "-90°",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "500",
        "payloadType": "num",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "9389f5bd56d48931"
            ]
        ]
    },
    {
        "id": "bb9108436e813475",
        "type": "inject",
        "z": "6b01780eaf90884f",
        "name": "45°",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "2000",
        "payloadType": "num",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "9389f5bd56d48931"
            ]
        ]
    },
    {
        "id": "e155201a91a3369f",
        "type": "inject",
        "z": "6b01780eaf90884f",
        "name": "0°",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1500",
        "payloadType": "num",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "9389f5bd56d48931"
            ]
        ]
    },
    {
        "id": "bb38330de0ddfee0",
        "type": "comment",
        "z": "6b01780eaf90884f",
        "name": "Tips: Please change the OE pin based on your hardware setup",
        "info": "Tips: The OE pin varies on different harware setups.\n\nRAK13004 + RAK6421 slot 1 + Raspberry Pi 4B/RAK7391, set Device to gpiochip0, and pin to 12;\n\nRAK13004 + RAK6421 slot 2 + Raspberry Pi 4B/RAK7391, set Device to gpiochip0, and pin to 22; \n\nRAK13004 + RAK7391's wisblock slot 1, set Device to gpiochip2, and pin to 6;\n\nRAK13004 + RAK7391's wisblock slot 2, set Device to gpiochip2, and pin to 7.",
        "x": 240,
        "y": 60,
        "wires": []
    },
    {
        "id": "9389f5bd56d48931",
        "type": "PCA9685 out",
        "z": "6b01780eaf90884f",
        "name": "PWM output of channel 0 (Servo)",
        "pca9685": "6ce45bce.cdff94",
        "channel": "0",
        "payload": "",
        "unit": "microseconds",
        "onStep": "0",
        "x": 360,
        "y": 340,
        "wires": []
    },
    {
        "id": "0a36b42b609e40d0",
        "type": "inject",
        "z": "6b01780eaf90884f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "5342c10265b1acc4"
            ]
        ]
    },
    {
        "id": "5342c10265b1acc4",
        "type": "gpio-out",
        "z": "6b01780eaf90884f",
        "name": "",
        "state": "OUTPUT",
        "device": "gpiochip0",
        "pin": "12",
        "x": 330,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c3f7b898140d100c",
        "type": "inject",
        "z": "6b01780eaf90884f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "5342c10265b1acc4"
            ]
        ]
    },
    {
        "id": "6ce45bce.cdff94",
        "type": "PCA9685",
        "deviceNumber": "1",
        "address": "64",
        "frequency": "50"
    }
]
