other/PI4IOE5V96224-GPIO-Expander/pi4ioe5v-toggle-led.json
[
    {
        "id": "3bc0f3d95be661cb",
        "type": "tab",
        "label": "pi4ioe5v-toggle-led",
        "disabled": false,
        "info": "The example shows how to toggle the on-board LED in the RAK7391. LED on RAK7391 uses IO0_7 port of PI4IOE5V96224.",
        "env": []
    },
    {
        "id": "fd16c1b19021b336",
        "type": "pi4ioe5v in",
        "z": "3bc0f3d95be661cb",
        "name": "",
        "bus": "1",
        "address": "0x20",
        "pin": "7",
        "interval": "5000",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "14ba9ee6ac8352dc"
            ]
        ]
    },
    {
        "id": "f2260f68abd285f3",
        "type": "pi4ioe5v out",
        "z": "3bc0f3d95be661cb",
        "name": "",
        "bus": "1",
        "address": "0x20",
        "pin": "7",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "14ba9ee6ac8352dc",
        "type": "function",
        "z": "3bc0f3d95be661cb",
        "name": "toggle_led",
        "func": "let val = parseInt(msg.payload);\nif(val != 0 && val != 1) {\n    log.error('wrong value');\n} else {\n    msg.payload = 1 - msg.payload;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "f2260f68abd285f3"
            ]
        ]
    }
]