sensors/rak1901/rak1901-shtc3-read/rak1901-shtc3-read.json
[
    {
        "id": "c583276973d6ef77",
        "type": "tab",
        "label": "shtc3-read",
        "disabled": false,
        "info": "The exampe is that read temperature and humidity data from shtc3 in RAK7391 every 5 seconds.",
        "env": []
    },
    {
        "id": "f26568b4e366c7f3",
        "type": "shtc3_i2c",
        "z": "c583276973d6ef77",
        "name": "",
        "i2c_device_number": 1,
        "i2c_address": "0x70",
        "temperature_unit": "fahrenheit",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "c9c5a873d6ba04cc"
            ]
        ]
    },
    {
        "id": "47059eaa4081f416",
        "type": "inject",
        "z": "c583276973d6ef77",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "f26568b4e366c7f3"
            ]
        ]
    },
    {
        "id": "c9c5a873d6ba04cc",
        "type": "debug",
        "z": "c583276973d6ef77",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 300,
        "wires": []
    }
]