interface/rak5802/rak5802_modbus/rak5802-example-flow.json
[
    {
        "id": "0c93a91486e02b6e",
        "type": "tab",
        "label": "rak5802-example-flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f73f307c641c2b61",
        "type": "modbus-write",
        "z": "0c93a91486e02b6e",
        "name": "Set LED",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "42",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "93e320106f5dcdb6",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 620,
        "y": 340,
        "wires": [
            [
                "4c4d158a9636206a"
            ],
            []
        ]
    },
    {
        "id": "5f6d3ded3618a07d",
        "type": "modbus-read",
        "z": "0c93a91486e02b6e",
        "name": "Read LED",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "42",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "93e320106f5dcdb6",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 240,
        "y": 340,
        "wires": [
            [
                "7df5c58b4374fe0f"
            ],
            []
        ]
    },
    {
        "id": "7df5c58b4374fe0f",
        "type": "function",
        "z": "0c93a91486e02b6e",
        "name": "toggle",
        "func": "var newMsg = {};\n\nif(msg.payload[0] == true)\n{\n    newMsg.payload = 0;\n}\nelse\n{\n    newMsg.payload = 1;\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 340,
        "wires": [
            [
                "f73f307c641c2b61"
            ]
        ]
    },
    {
        "id": "1f2debd3910da372",
        "type": "modbus-read",
        "z": "0c93a91486e02b6e",
        "name": "Read RAK1901",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "42",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "93e320106f5dcdb6",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "697044ef5b04df9b"
            ],
            []
        ]
    },
    {
        "id": "697044ef5b04df9b",
        "type": "function",
        "z": "0c93a91486e02b6e",
        "name": "RAK1901 status",
        "func": "newMsg = {};\nnewMsg.payload = {};\nnewMsg.payload.humidity = msg.payload[0] + \"%\"\nnewMsg.payload.temperature = msg.payload[1] / 100 +\"C\"\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 440,
        "wires": [
            [
                "a095e86808cf313f"
            ]
        ]
    },
    {
        "id": "a095e86808cf313f",
        "type": "debug",
        "z": "0c93a91486e02b6e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "4c4d158a9636206a",
        "type": "function",
        "z": "0c93a91486e02b6e",
        "name": "LED status",
        "func": "var newMsg = {};\nif(msg.payload.value == true)\n{\n    newMsg.payload = \"LED Turn On\"  \n}\nelse\n{\n    newMsg.payload = \"LED Turn Off\"  \n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 340,
        "wires": [
            [
                "a095e86808cf313f"
            ]
        ]
    },
    {
        "id": "93e320106f5dcdb6",
        "type": "modbus-client",
        "name": "",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "42",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    }
]