interface/rak5802/rak5802_modbus/rak5802-example-flow.json
[
    {
        "id": "ee9209fa4c2aab5a",
        "type": "tab",
        "label": "rak5802-example-flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a262309606090fc0",
        "type": "modbus-write",
        "z": "ee9209fa4c2aab5a",
        "name": "Set LED",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "42",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "93e320106f5dcdb6",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 540,
        "y": 120,
        "wires": [
            [
                "5ce36dfd9c46b608"
            ],
            []
        ]
    },
    {
        "id": "bda305d488294ef7",
        "type": "modbus-read",
        "z": "ee9209fa4c2aab5a",
        "name": "Read LED",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "42",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "93e320106f5dcdb6",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "b5daf7ab8a4853dc"
            ],
            []
        ]
    },
    {
        "id": "b5daf7ab8a4853dc",
        "type": "function",
        "z": "ee9209fa4c2aab5a",
        "name": "toggle",
        "func": "var newMsg = {};\n\nif(msg.payload[0] == true)\n{\n    newMsg.payload = 0;\n}\nelse\n{\n    newMsg.payload = 1;\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 120,
        "wires": [
            [
                "a262309606090fc0"
            ]
        ]
    },
    {
        "id": "b5e97e4f996f3a1b",
        "type": "modbus-read",
        "z": "ee9209fa4c2aab5a",
        "name": "Read RAK1901",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "42",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "93e320106f5dcdb6",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "3fd8490717540f35"
            ],
            []
        ]
    },
    {
        "id": "3fd8490717540f35",
        "type": "function",
        "z": "ee9209fa4c2aab5a",
        "name": "RAK1901 status",
        "func": "newMsg = {};\nnewMsg.payload = {};\nnewMsg.payload.humidity = msg.payload[0] + \"%\"\nnewMsg.payload.temperature = msg.payload[1] / 100 +\"C\"\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 220,
        "wires": [
            [
                "366850a9962da089"
            ]
        ]
    },
    {
        "id": "366850a9962da089",
        "type": "debug",
        "z": "ee9209fa4c2aab5a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "5ce36dfd9c46b608",
        "type": "function",
        "z": "ee9209fa4c2aab5a",
        "name": "LED status",
        "func": "var newMsg = {};\nif(msg.payload.value == true)\n{\n    newMsg.payload = \"LED Turn On\"  \n}\nelse\n{\n    newMsg.payload = \"LED Turn Off\"  \n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 120,
        "wires": [
            [
                "366850a9962da089"
            ]
        ]
    },
    {
        "id": "93e320106f5dcdb6",
        "type": "modbus-client",
        "name": "",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyAMA0",
        "serialType": "RTU",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "42",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    }
]