sensors/rak12015/rak12015-tampering-detector/rak12015-tampering-detector.json
[
    {
        "id": "934beb088c6a4869",
        "type": "tab",
        "label": "rak12015-tampering-detector",
        "disabled": false,
        "info": "The example is that detect vibration of rak7391 every 1 seconds. If data is not 0, it indicates that the RAK7391 is vibrating.",
        "env": []
    },
    {
        "id": "389f9c85393c0408",
        "type": "ads1x15_i2c",
        "z": "934beb088c6a4869",
        "property": "payload",
        "name": "",
        "i2c_device_number": 1,
        "chip": "0x01",
        "i2c_address": "0x48",
        "inputsForChannel": "singleEnded",
        "singleEndedChannel0": false,
        "singleEndedChannel1": false,
        "singleEndedChannel2": false,
        "singleEndedChannel3": true,
        "differentialChannel0_1": true,
        "differentialChannel0_3": false,
        "differentialChannel1_3": false,
        "differentialChannel2_3": true,
        "samplesPerSecond0": "920",
        "samplesPerSecond1": "128",
        "progGainAmp": "4096",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "e0b212a0a2a62334"
            ]
        ]
    },
    {
        "id": "2b78a60be6bb6281",
        "type": "inject",
        "z": "934beb088c6a4869",
        "name": "every 1 seconds",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "389f9c85393c0408"
            ]
        ]
    },
    {
        "id": "d6a49faefffb9edb",
        "type": "debug",
        "z": "934beb088c6a4869",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "e0b212a0a2a62334",
        "type": "function",
        "z": "934beb088c6a4869",
        "name": "data_handling",
        "func": "let data = {};\n\ndata.payload = msg.payload[\"/dev/i2c-1\"]\n.ads1115[\"0x48\"]\n.singleEnded.channel_3.Volts;\n\ndata.payload = Math.round(data.payload * 100) / 100;\nif(data.payload > 0) {\n    node.warn('Vibration detected !');\n    node.status({\n        fill: 'red',\n        shape: 'dot',\n        text: \"Vibration detected\"\n    });\n} else {\n    node.status({});\n}\n\nreturn data;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 240,
        "wires": [
            [
                "d6a49faefffb9edb"
            ]
        ]
    }
]