interface/rak5801/rak5801-rak7391-example-flow.json
[
    {
        "id": "1a8e8fd3c0b75391",
        "type": "tab",
        "label": "rak5801-example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c379fa8721d14d31",
        "type": "inject",
        "z": "1a8e8fd3c0b75391",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "57664898d20a7025"
            ]
        ]
    },
    {
        "id": "57664898d20a7025",
        "type": "ads1x15_i2c",
        "z": "1a8e8fd3c0b75391",
        "property": "payload",
        "name": "",
        "i2c_device_number": 1,
        "chip": "0x01",
        "i2c_address": "0x48",
        "inputsForChannel": "singleEnded",
        "singleEndedChannel0": false,
        "singleEndedChannel1": false,
        "singleEndedChannel2": false,
        "singleEndedChannel3": true,
        "differentialChannel0_1": false,
        "differentialChannel0_3": false,
        "differentialChannel1_3": false,
        "differentialChannel2_3": false,
        "samplesPerSecond0": "920",
        "samplesPerSecond1": "128",
        "progGainAmp": "4096",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "0d3f9d2b60a9c0df"
            ]
        ]
    },
    {
        "id": "ae24b667dc4aca0a",
        "type": "debug",
        "z": "1a8e8fd3c0b75391",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "0d3f9d2b60a9c0df",
        "type": "function",
        "z": "1a8e8fd3c0b75391",
        "name": "voltage2current",
        "func": "function voltage2current(volt)\n{\n    current = volt / 149.9 * 1000;\n    return current.toFixed(2);\n}\n\nvar volt;\nvar current;\nvar newMsg = {payload:{current:{}}}\nvar channel_3 = msg.payload[\"/dev/i2c-1\"].ads1115[\"0x48\"].singleEnded.channel_3\n\nif(typeof(channel_3) =='undefined') \n{\n    newMsg[\"payload\"] = \"Error:Wrong Single Ended Channel Selected\"\n   \n}\n\nif(typeof(channel_3) !='undefined')\n{\n    volt = msg.payload[\"/dev/i2c-1\"].ads1115[\"0x48\"].singleEnded.channel_3.Volts\n    current = voltage2current(volt)\n    newMsg[\"payload\"][\"current\"][\"wisblock_slot2\"] = current + \" mA\"\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 300,
        "wires": [
            [
                "ae24b667dc4aca0a"
            ]
        ]
    },
    {
        "id": "6bd0a6a936c0aa38",
        "type": "inject",
        "z": "1a8e8fd3c0b75391",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "88177e9828c0d53d"
            ]
        ]
    },
    {
        "id": "88177e9828c0d53d",
        "type": "ads1x15_i2c",
        "z": "1a8e8fd3c0b75391",
        "property": "payload",
        "name": "",
        "i2c_device_number": 1,
        "chip": "0x01",
        "i2c_address": "0x48",
        "inputsForChannel": "singleEnded",
        "singleEndedChannel0": false,
        "singleEndedChannel1": true,
        "singleEndedChannel2": false,
        "singleEndedChannel3": false,
        "differentialChannel0_1": false,
        "differentialChannel0_3": false,
        "differentialChannel1_3": false,
        "differentialChannel2_3": false,
        "samplesPerSecond0": "920",
        "samplesPerSecond1": "128",
        "progGainAmp": "4096",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "3dd871c35b4c8473"
            ]
        ]
    },
    {
        "id": "1bc4afb6ddba68cc",
        "type": "debug",
        "z": "1a8e8fd3c0b75391",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "6db577c2cf5c8e4a",
        "type": "comment",
        "z": "1a8e8fd3c0b75391",
        "name": "RAK7391 IO slot 1",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "fd7189cadbd8a4de",
        "type": "comment",
        "z": "1a8e8fd3c0b75391",
        "name": "RAK7391 IO slot 2",
        "info": "",
        "x": 190,
        "y": 240,
        "wires": []
    },
    {
        "id": "3dd871c35b4c8473",
        "type": "function",
        "z": "1a8e8fd3c0b75391",
        "name": "voltage2current",
        "func": "function voltage2current(volt)\n{\n    current = volt / 149.9 * 1000;\n    return current.toFixed(2);\n}\n\nvar volt;\nvar current;\nvar newMsg = {payload:{current:{}}}\nvar channel_1 = msg.payload[\"/dev/i2c-1\"].ads1115[\"0x48\"].singleEnded.channel_1\n\nif(typeof(channel_1) =='undefined') \n{\n    newMsg[\"payload\"] = \"Error:Wrong Single Ended Channel Selected\"\n   \n}\nif(typeof(channel_1) !='undefined')\n{\n    volt = msg.payload[\"/dev/i2c-1\"].ads1115[\"0x48\"].singleEnded.channel_1.Volts\n    current = voltage2current(volt)\n    newMsg[\"payload\"][\"current\"][\"wisblock_slot1\"] = current + \" mA\"\n}\n\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 120,
        "wires": [
            [
                "1bc4afb6ddba68cc"
            ]
        ]
    }
]