other/gpio/gpio-toggle-led/gpio-toggle-led.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "gpio-toggle-led",
        "disabled": false,
        "info": "This example flow toggles an LED connected to a GPIO pin in the 40-pin header on a Raspberry Pi or a RAK7391 board"
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Notice: make sure you have the package \"libgpio-dev\" installed first",
        "info": "",
        "x": 260,
        "y": 80,
        "wires": []
    },
    {
        "id": "9efac1a861553088",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "3d52d32dce096799",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "every 1 second",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "72c52fbc92d56fcf"
            ]
        ]
    },
    {
        "id": "72c52fbc92d56fcf",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "toggle_function",
        "func": "var count = context.get('count') || 0;\nmsg.payload = 1 - count;\ncontext.set('count', msg.payload);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 180,
        "wires": [
            [
                "aa450ea49e754095"
            ]
        ]
    },
    {
        "id": "aa450ea49e754095",
        "type": "gpio-out",
        "z": "f6f2187d.f17ca8",
        "name": "gpiochip0#5",
        "state": "OUTPUT",
        "device": "gpiochip0",
        "pin": "4",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "9efac1a861553088"
            ]
        ]
    }
]