wireless/rak13600/rak13600-nfc-read.json
[
    {
        "id": "7f6c1fc22dd4c0ab",
        "type": "tab",
        "label": "nfc-read",
        "disabled": false,
        "info": "An example flow that will output a greeting to the card owner when a card is presented to the NFC reader. ",
        "env": []
    },
    {
        "id": "4682070011caf455",
        "type": "pn532_i2c",
        "z": "7f6c1fc22dd4c0ab",
        "name": "",
        "i2c_device_number": 1,
        "i2c_address": "0x24",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "61a4028c595b3ec7"
            ]
        ]
    },
    {
        "id": "defa697bb78f6a0b",
        "type": "inject",
        "z": "7f6c1fc22dd4c0ab",
        "name": "every 1 second",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "4682070011caf455"
            ]
        ]
    },
    {
        "id": "61a4028c595b3ec7",
        "type": "function",
        "z": "7f6c1fc22dd4c0ab",
        "name": "decodeToUserName",
        "func": "var name_list = {\n    //'0xbcf024b5': 'Mr Brown',\n    '0xdcaffd02': 'Mrs Blair'\n}\n\nvar detected_device_list = context.get('detected_device_list') || {};\n\nvar txt;\nif(msg.payload) {\n    var str = \"\";\n    for(var i=0; i<msg.payload.length; i++)\n    {\n       var tmp = msg.payload[i].toString(16);\n       if(tmp.length == 1)\n       {\n           tmp = \"0\" + tmp;\n       }\n\n       str += tmp;\n    }\n    str = '0x' + str;\n    if(detected_device_list[str]) {\n\t\tif(new Date().getTime() - detected_device_list[str] < 5000) {\n\t\t\treturn;\n\t\t}\n\t}\n    if(name_list[str]) {\n        txt = \"Hello, \" + name_list[str] + '!';\n    } else {\n        txt = 'Unregistered card ' + str + '!';\n    }\n\n    detected_device_list[str] = new Date().getTime();\n    context.set('detected_device_list', detected_device_list);\n}\n\nmsg.payload = txt;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "8781a6f05c39c97a"
            ]
        ],
        "info": "The function transfers uid of nfcard to owner."
    },
    {
        "id": "8781a6f05c39c97a",
        "type": "debug",
        "z": "7f6c1fc22dd4c0ab",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 300,
        "wires": []
    }
]