sensors/rak16000/rak16000-power-monitoring.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "rak16000-power-monitoring",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d30a08551e463ada",
        "type": "ina-sensor",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "handle": "06c4032f60f48945",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "fc189bb5a669fb33"
            ],
            [
                "fc189bb5a669fb33"
            ]
        ]
    },
    {
        "id": "fc189bb5a669fb33",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "Join current and vlotage readings",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 400,
        "y": 80,
        "wires": [
            [
                "a7096f9d4ecd9bbd"
            ]
        ]
    },
    {
        "id": "85861d22873180f6",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Power consumption (W)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 80,
        "wires": []
    },
    {
        "id": "a7096f9d4ecd9bbd",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Calculate power consumption",
        "func": "// Retrieve current readings from the join node\nvar current = msg.payload.miliamps;\n// Retrieve voltage readings from the join node\nvar voltage = msg.payload.voltage;\n// Calculate the power consumption \nvar power = parseFloat((current * voltage / 1000).toFixed(2));\nreturn {payload:power};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 80,
        "wires": [
            [
                "85861d22873180f6"
            ]
        ]
    },
    {
        "id": "06c4032f60f48945",
        "type": "ina-sensor-manager",
        "address": "0x41",
        "delay": "5000",
        "ohms": "0.1",
        "customResistor": false
    }
]
