sensors/rak16000/rak16000-power-monitoring.json
[
    {
        "id": "283f69bc3142b259",
        "type": "tab",
        "label": "rak16000-power-monitoring",
        "disabled": false,
        "info": ""
    },
    {
        "id": "83dd8370b91dca3b",
        "type": "join",
        "z": "283f69bc3142b259",
        "name": "Join current and vlotage readings",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 400,
        "y": 80,
        "wires": [
            [
                "ca7fbb8e051fb419"
            ]
        ]
    },
    {
        "id": "213e0a94b83f7981",
        "type": "debug",
        "z": "283f69bc3142b259",
        "name": "Power consumption (W)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 80,
        "wires": []
    },
    {
        "id": "ca7fbb8e051fb419",
        "type": "function",
        "z": "283f69bc3142b259",
        "name": "Calculate power consumption",
        "func": "// Retrieve current readings from the join node\nvar current = msg.payload.miliamps;\n// Retrieve voltage readings from the join node\nvar voltage = msg.payload.voltage;\n// Calculate power consumption and output readings\nvar payload = {};\npayload.current = current.toFixed(2) + ' mA';\npayload.voltage = voltage.toFixed(2) + ' V';\npayload.power = (current * voltage / 1000).toFixed(2) + ' W';\nreturn {\n    payload: payload\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 80,
        "wires": [
            [
                "213e0a94b83f7981"
            ]
        ]
    },
    {
        "id": "e3af3741b0560b99",
        "type": "ina-sensor",
        "z": "283f69bc3142b259",
        "name": "",
        "handle": "e68a1798fca6ce91",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "83dd8370b91dca3b"
            ],
            [
                "83dd8370b91dca3b"
            ]
        ]
    },
    {
        "id": "e68a1798fca6ce91",
        "type": "ina-sensor-manager",
        "address": "0x41",
        "delay": "5000",
        "ohms": "0.1",
        "customResistor": false
    }
]
