sensors/rak12019/12019-reading/rak12019-reading.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "rak12019-reading",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c330ccc393fc83d4",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "1acded7d9712deeb"
            ]
        ]
    },
    {
        "id": "9e3562fd807a1f78",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "1acded7d9712deeb",
        "type": "ltr-390uv",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "i2c_device_number": 1,
        "i2c_address": "0x53",
        "gain": "1",
        "resolution": "4",
        "x": 320,
        "y": 280,
        "wires": [
            [
                "9e3562fd807a1f78"
            ]
        ]
    }
]